.modularity-mod-loginform {
    #modularity-login-form {
        #modularity-login-form-message {
            max-width: 486px;
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 10px;

            &.success,
            &.info,
            &.danger {
                margin: 0 auto;
                max-width: 450px;
                padding: 1.2em 1em;
            }
        }

        .form-group {
            position: relative;
            margin: 0px;
            input {
                margin-bottom: 10px;
                width: 100%;
            }

            @media only screen and (max-width: 895px) {
                margin-left: 0px;
                width: 100%;
                max-width: 100%;
            }
        }
        .form-notice {
            position: absolute;
            @media only screen and (max-width: 895px) {
                position: relative;
                padding-bottom: 10px;
            }
        }
        .user-logged-in {
            margin: 0 auto;
            text-align: center;
            .user-data {
                margin-top: -15px;
                margin-bottom: 10px;
            }
            button {
                max-width: 300px;
                width: 100%;
            }
        }
        .danger {
            margin-bottom: 10px !important;
        }
    }
}
